<%= turbo_stream_from "statistics" %>

<section>
ADMIN DASHBOARD

<!-- Online users counter from User.where(is_online: true).count -->
    <div>
        <span id="online_counter">Online counter: <%= User.where(is_online: true).count %></span>
    </div>

    <div class="w-full h-[500px] outline-1">
        <div
            id="map"
            data-controller="map"
            data-map-users-with-long-lat-value="<%= @online_users_with_long_lat.to_json %>"
            style="height: 500px;">
        </div>
    </div>

</section>
