<%= turbo_stream_from current_user if current_user %>
<section class="flex justify-center items-center">
  <%= form_with url: users_update_status_path do |f| %>
    <div class="actions">
      <%= f.submit "Go #{current_user.is_online ? "Offline" : "Online" }",
            id: "toggle_status_button",
            class: "bg-white px-4 py-2 rounded text-[#f5333f] text-xl font-bold",
            data: {
              controller: "geolocation",
              action: "click->geolocation#sendLocation",
              geolocation_user_status_value: current_user.is_online
            }
      %>
    </div>
  <% end %>
</section>
