<div
    id="map"
    class="h-full z-10"
    data-controller="map"
    data-map-users-with-long-lat-value="<%= online_users_with_long_lat.to_json %>"
    data-map-events-value="<%= events.to_json %>"
    >
</div>
